Makefile
Makefile.in
.deps
.libs
*.o
*.lo
*.a
*.la
*~
m4/lt*.m4
m4/libtool.m4
autom4te.cache
config.guess
config.sub
configure
config.log
config.status
aclocal.m4
compile
config.h.in
depcomp
install-sh
ltmain.sh
missing
ylwrap
eibd/client/c/gen/
