busmonitor1
busmonitor2
busmonitor3
groupcacheclear
groupcachedisable
groupcacheenable
groupcachelastupdates
groupcacheread
groupcachereadsync
groupcacheremove
grouplisten
groupread
groupreadresponse
groupresponse
groupsocketlisten
groupsocketread
groupsocketswrite
groupsocketwrite
groupsresponse
groupswrite
groupwrite
knxtool
madcread
maskver
mmaskver
mpeitype
mprogmodeoff
mprogmodeon
mprogmodestatus
mprogmodetoggle
mpropdesc
mpropread
mpropscan
mpropscanpoll
mpropwrite
mread
mrestart
msetkey
mwrite
mwriteplain
progmodeoff
progmodeon
progmodestatus
progmodetoggle
readindividual
vbusmonitor1
vbusmonitor1poll
vbusmonitor2
vbusmonitor3
writeaddress
xpropread
xpropwrite
